body {
  background-color: lightblue;
}
h1{
  color: orange;
  text-shadow: 3px 3px 3px black;
  font-family: fantasy;

}
h3{
  color: yellow;
  text-shadow: 2px 2px 2px black;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 8%
}
